body {
    // height: 20vh;
    width: 100vw;
    background-color: rgb(250, 245, 246);
    color: rgb(9, 16, 29) !important;
    // background-image: url("https://i.pinimg.com/originals/1d/ed/c3/1dedc3a04e1388d811ce59d75f33e7a1.jpg"); 
    // background-repeat: no-repeat;
    // background-size: 400px;
    // overflow: hidden
}