body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

nav img {
  height: 50px;
  width: 50px;
}

form div {
  margin: 1em;
  display: inline-block;
}
